/* Set global css values here */

/* Make links and visited links the same color and font as the other text, and make links underlined */
html {
  font-size: 62.5%;
  overflow-y: scroll;
  font-family: "Inter", sans-serif;
}

/* Make links and visited links the same color and font as the other text, and make links underlined */
a {
  color: #1f3a33;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
}

a:visited {
  color: #1f3a33;
  font-family: "Inter", sans-serif;
}

/* fade content in */
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

/* used to only show text to screen readers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

