/* Set global css values here */

/* Make links and visited links the same color and font as the other text, and make links underlined */
a {
  color: #1f3a33;
  text-decoration: underline;
  font-family: Nunito, sans-serif;
}

a:visited {
  color: #1f3a33;
  font-family: Nunito, sans-serif;
}
