.nav-bar ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111111;
}
