# SSH Tunnel configuration
ssh.host=10.212.27.62
ssh.port=22
ssh.user=YOUR_NTNU_USERNAME
ssh.password=YOUR_NTNU_PASSWORD

# PostgreSQL configuration
db.host=2001:700:300:6018:f816:3eff:fefc:2e59
db.port=5432
db.name=mocha_nooka
db.user=YOUR_DB_USERNAME
db.password=YOUR_DB_PASSWORD

jwt_secret_key=YOUR_JWT_SECRET_KEY
stripe.secret.key=YOUR_STRIPE_SECRET_KEY

# update tables on application restart
spring.jpa.hibernate.ddl-auto=update